@import "./reset.scss";
@import "./variables.scss";
@import "./fonts.scss";

body {
    background-color: $bodyBg;
    font-family: Gilroy-Regular;
}

.autocomplete-container {
    width: 500px;
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0);

    button {
        background: $gray;
        border: none;
        width: 40px;
        padding: 6px;
        border-radius: 7px;
        cursor: pointer;

        &:disabled {
            opacity: 0.3;
            cursor: not-allowed;
        }
    }

    .autocomplete-wrapper {
        padding: 20px 25px;
        background: $white;
        border-radius: $border-radius;
        box-shadow: $boxShadow;

        .form-inner {
            display: flex;
            align-items: center;
            .input-container {
                position: relative;
                flex: 1;
                display: flex;
                align-items: center;

                .clear-button {
                    position: absolute;
                    right: 10px;
                    cursor: pointer;
                    font-weight: bold;
                    text-decoration: underline;
                }
            }
        }

        .suggestion-container {
            overflow: auto;
            max-height: 0;
            transition: all 500ms ease-in;

            &.showList {
                max-height: 300px;
            }

            .optionlist-container {
                padding-top: 15px;
                .options {
                    padding: 5px 0 5px 5px;
                }
            }

            .past-searches-container {
                &.space-top {
                    padding-top: 15px;
                }
                .searches {
                    color: $purple;
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    padding: 3px 0;

                    svg {
                        fill: $clockGray;
                        width: 16px;
                    }
                }
            }
        }
    }

    .search-result-container {
        padding: 20px 25px;
        background: $white;
        border-radius: $border-radius;
        box-shadow: $boxShadow;
        margin-top: 25px;
        max-height: 300px;
        overflow: auto;

        .result-title {
            margin-bottom: 10px;
            text-decoration: underline;
        }
        .result-container {
            > div {
                padding-bottom: 10px;
            }
        }
    }
}

input[type="text"] {
    width: 100%;
    padding: 5px;
    border: none;

    &:focus,
    &:active {
        border: none;
        outline: none;
    }
}

//Mobile styles

@media (max-width: 650px) {
    .autocomplete-container {
        width: 100%;
        padding: 0 25px;
    }
}
